---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Organization">
  <section class="my-12">
    <div class="space-content container">
      <h1>Our Organization</h1>
      <div class="flex">
          <p class="text-2xl block">
          #1 GKR League Summer Split 2023
          <p/>
      </div>
    </div>
  </section>
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
        
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
    .flex {
        display: flex;
    }
</style>