<h1>Impressum</h1>
<h2 id="m46">Diensteanbieter</h2>
<p>Luca D‘Aguanno</p>
<p>Luisenstrasse 72</p>
<p>29525 Uelzen</p>
<p>Deutschland</p>

<h2 id="m56">Kontaktmöglichkeiten</h2>E-Mail-Adresse: <p><a href="mailto:info@highergaming.de">info@highergaming.de</a></p>

<h2 id="m172">Social Media und andere Onlinepräsenzen</h2>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile: <p><a href="https://twitter.com/HigherGamingEU" target="_blank">https://twitter.com/HigherGamingEU</a></p>

<p class="seal"><a href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>