---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const { silver = '/Badge/Silver.png' } = Astro.props
const { gold = '/Badge/Gold.png' } = Astro.props
const { platinum = '/Badge/Platinum.png' } = Astro.props

---

<DefaultLayout title="Mystery Boxes">
    <section class="my-12">
    <div class="space-content container text-center">
      <h2>Mystery Boxes</h2>
      <p class="text-2xl block">
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32 text-center">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
      <div> <img class="lg:block h-36 w-auto ml-auto mr-auto" src={silver} alt="Silver" decoding="async" />
      <br>
      <div class="text-left text-lg"> 
      - 1 Mystery Box per month. <br> 
      - Higher Chance to win friend links from our current Main Players in our Giveaways. <br>
      - 1v1 against HG Professional Players. <br>
      - Be announced as a new Silver Member on our Official Twitter. <br>
      - Opportunity to participate in our "HG Virtual Roulette" <br>
      - 15% discount to purchase HG Official Team Jersey. <br>
      - Exclusive Role on HG Offical Discord.
      
      </div></div>
      <div> <img class="lg:block h-36 w-auto ml-auto mr-auto" src={gold} alt="Gold" decoding="async" />
      <br>
      <div class="text-left text-lg">
      - 1 Mystery Box per month. <br> 
      - Higher Chance to win friend links from our current Main Players in our Giveaways. <br>
      - 1v1 against HG Professional Players. <br>
      - Be announced as a new Gold Member on our Official Twitter. <br>
      - Opportunity to participate in our "HG Virtual Roulette" <br>
      - 50% discount to purchase HG Official Team Jersey. <br>
      - Exclusive Role on HG Offical Discord. <br>
      - Personal Logo/Photo or Company Logo will be integrated and promoted into all HG Social Media(Website, Twitter, ...) <br>
      - Entry to the Official HG Staff WhatsApp Group.

   </div>
   
   </div>
      <div> <img class="lg:block h-36 w-auto ml-auto mr-auto" src={platinum} alt="Platinum" decoding="async" />
      <br>
      <div class="text-left text-lg"> 
      - 1 Mystery Box per month. <br> 
      - Friend links from our current Main Players in our Giveaways. <br>
      - 1v1 against HG Professional Players. <br>
      - Be announced as a new Platinum Member on our Official Twitter. <br>
      - Opportunity to participate in our "HG Virtual Roulette" <br>
      - Free Official HG Team Jersey with your Personal Name. <br>
      - Exclusive Role on HG Offical Discord. <br>
      - Personal Logo/Photo or Company Logo will be integrated and promoted into all HG Social Media(Website, Twitter, ...) <br>      
      - Logo or Name will be added on our Team Jersey as an Official Sponsor. <br>
      - Entry to the Official HG Staff WhatsApp Group. <br>
      - Mention on every live event. <br>
      - Percentage from the HG Team Earnings from every competition.

   </div> </div>
      </div>
   <div class="h-14"></div>
    <a href="https://forms.gle/wUksU1EAbHiF2gMt6" class="bg-hg font-bold py-2 px-4 rounded" style="text-decoration: none; color: var(--font-color);">
    Apply here!
    </a>
    </div>
  </section>
</DefaultLayout>
