---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const gkr = {'/GKR.png' } = Astro.props
---

<DefaultLayout title="Organization">
  <section class="my-12">
    <div class="space-content container">
      <h1>Our Organization</h1>
      <p class="text-2xl block">
        Higher Gaming is a newly established competitive esports team based in germany that will be participating in various mobile Esports titles, currently having rosters for Clash Royale and Brawl Stars. With our world class players and experienced staff we are looking to set our name in each scene we enter. As Higher Gaming, we believe in the importance of story telling and content creation in esports, therefore we are working with our well-known players and content creators to help them grow and in return spread our brand name to the millions.
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32">
    <div class="container">
    <h2>Achievements</h2>
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
      <div class="grid grid-rows-1 gap-16 md:grid-rows-2 mt-auto"> <img class="hidden relative right-52 lg:block h-32 w-auto ml-auto mr-auto" src={gkr} alt="GKR" decoding="async" /> #1 GKR League Summer Split 2023</div>
      </div>
    </div>
  </section>
</DefaultLayout>
