---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const { glytch = '/GLYTCH Energy_Logo.png' } = Astro.props
const { soardogg = '/SoardoggHorizontal-Red.png' } = Astro.props
---

<DefaultLayout title="Organization">
  <section class="my-12">
    <div class="space-content container">
      <h1>Our Partners</h1>
      <p class="text-2xl block">
        
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
        <img class="hidden lg:block h-36 w-auto ml-auto mr-auto" src={glytch} alt="GLYTCH Energy" decoding="async" />
        <img class="hidden lg:block h-24 w-auto ml-auto mr-auto" src={soardogg} alt="Soardogg" decoding="async" />
      </div>
    </div>
  </section>
</DefaultLayout>
