---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const { silver = '/Badge/Silver.png' } = Astro.props
const { gold = '/Badge/Gold.png' } = Astro.props
const { platinum = '/Badge/Platinum.png' } = Astro.props

---

<DefaultLayout title="Mystery Boxes">
    <section class="my-12">
    <div class="space-content container text-center">
      <h2>Roulette</h2>
      <p class="text-2xl block">
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32 text-center">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
      <div> <img class="lg:block h-36 w-auto ml-auto mr-auto" src={silver} alt="Silver" decoding="async" />
      <br>
      <div class="text-left text-lg"> 
      - HG T-Shirt <br> 
      - Partner Discounts <br>
      - 1 Monthly Subscription on HG Content Creator's Channel - Twitch/YouTube (Kodigo, Samuel Bassotto, Miniminter, Pabels)
      
      </div></div>
      <div> <img class="lg:block h-36 w-auto ml-auto mr-auto" src={gold} alt="Gold" decoding="async" />
      <br>
      <div class="text-left text-lg">
      - HG T-Shirt <br> 
      - HG Hoodie <br>
      - Higher Partner Discounts <br>
      - 2 Monthly Subscriptions on HG Content Creator's Channel - Twitch/YouTube (Kodigo, Samuel Bassotto, Miniminter, Pabels)

      Possible after more than 1 month: <br>
      - HG Pen <br>
      - HG Mousepad <br>
      - HG Wallpaper <br>

   </div>
   
   </div>
      <div> <img class="lg:block h-36 w-auto ml-auto mr-auto" src={platinum} alt="Platinum" decoding="async" />
      <br>
      <div class="text-left text-lg"> 
      - Free Header <br> 
      - 50€ Google Play / Apple Card <br>
      - Diamond Pass <br>
      - HG Phone Case <br> <br>

      Possible after more than 1 month: <br>
      - HG Pen <br>
      - HG Mousepad <br>
      - HG Wallpaper <br>

   </div> </div>
      </div>
    </div>
  </section>
</DefaultLayout>
