---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const { silver = '/Badge/Silver.png' } = Astro.props
const { gold = '/Badge/Gold.png' } = Astro.props
const { platinum = '/Badge/Platinum.png' } = Astro.props
---

<DefaultLayout title="Organization">
    <section class="my-12">
    <div class="space-content container text-center">
      <h1>Sponsorship Program</h1>
      <p class="text-2xl block">
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32 text-center">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
      <div> <img class="hidden lg:block h-36 w-auto ml-auto mr-auto" src={silver} alt="Silver" decoding="async" /> <p class="text-base"> $100-$500 </p> 
      <br>
      <div class="text-left text-lg"> 
      - 1 Mystery Box per month. <a href="#">More info</a> <br> 
      - Higher Chance to win friend links from our current Main Players in our Giveaways. <br>
      - 1v1 vs one of our Professional Players. <br>
      - Be announced as a new Silver Member on our Official Twitter. <br>
      - Opportunity to participate in our "HG Virtual Roulette". <a href="#">More info</a> <br>
      - 15% discount to purchase HG Official Team Jersey. <br>
      - Exclusive Role on the Offical HG Discord.
      
      </div></div>
      <div> <img class="hidden lg:block h-36 w-auto ml-auto mr-auto" src={gold} alt="Gold" decoding="async" /> <p class="text-base">$500-$1500</p> 
      <br>
      <div class="text-left text-lg">
      - 1 Mystery Box per month. <a href="#">More info</a> <br> 
      - Higher Chance to win friend links from our current Main Players in our Giveaways. <br>
      - 1v1 vs one of our Professional Players. <br>
      - Be announced as a new Gold Member on our Official Twitter. <br>
      - Opportunity to participate in our "HG Virtual Roulette". <a href="#">More info</a> <br>
      - 50% discount to purchase HG Official Team Jersey. <br>
      - Exclusive Role on the Offical HG Discord. <br>
      - Company/Personal name or your Photo/Logo will be integrated into all of our designs. <br>
      - Entry to the Official HG Staff WhatsApp Group.

   </div>
   
   </div>
      <div> <img class="hidden lg:block h-36 w-auto ml-auto mr-auto" src={platinum} alt="Platinum" decoding="async" /> <p class="text-base"> +$1500 </p>
      <br>
      <div class="text-left text-lg"> 
      - 1 Mystery Box per month. <a href="#">More info</a> <br> 
      - Friend links from our current Main Players in our Giveaways. <br>
      - 1v1 vs one of our Professional Players. <br>
      - Be announced as a new Platinum Member on our Official Twitter. <br>
      - Opportunity to participate in our "HG Virtual Roulette". <a href="#">More info</a> <br>
      - Free Official HG Team Jersey with your Personal Name. <br>
      - Exclusive Role on the Offical HG Discord. <br>
      - Company/Personal Name or your Photo/Logo will be integrated into all of our designs. <br>      
      - Logo or Name will be added on our Team Jersey as an Official Sponsor. <br>
      - Entry to the Official HG Staff WhatsApp Group. <br>
      - Mention on every live event. <br>
      - Percentage from the HG Team Earnings from every competition.

   </div> </div>
      </div>
   <div class="h-14"></div>
    <a href="https://forms.gle/wUksU1EAbHiF2gMt6" class="bg-hg font-bold py-2 px-4 rounded" style="text-decoration: none; color: var(--font-color);">
    Apply here!
    </a>
    </div>
  </section>
</DefaultLayout>