---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Organization">
    <section class="my-12">
    <div class="space-content container text-center">
      <h1>Sponsorship Program</h1>
      <p class="text-2xl block">
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32 text-center">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
      <div><h3>Silver</h3> <p> $100-$500 </p><div> 

      -1 Mistery Box per month <br> 
      - You experience a higher chance of securing a Friend Link from our well-known players such as Samuel Bassotto, Kodigo, Keef, Miniminter and Surg TS. <br>
      - You engage in 1v1 matches against our professional players. <br>
      - You will be presented as a Silver Member from our Sponsorship Program on twitter <br>
      - You participate in the HG Virtual Roulette for the chance to secure rewards, including merchandise, vouchers, discounts on our partner products, gaming accessories or a monthly subscription at one of our content creators’ Twitch/YouTube channels. <br>
      -You will get a 10% discount on our Official Team Merchandise. <br>
      - You get special role on our Discord server and access a designated channel to contribute ideas and stay connected with our community.
      
      </div></div>
      <div><h3>Gold</h3> <p>$500-$150</p> <div>

      -1 Mistery Box per month <br>
      - You experience a higher chance of securing a Friend Link from our well-known players such as Samuel Bassotto, Kodigo, Keef, Miniminter and Surg TS. <br>
      - You engage in 1v1 matches against our professional players. <br>
      - You will be presented as a Gold Member from our Sponsorship Program on twitter <br>
      - You participate in the HG Virtual Roulette for the chance to secure rewards, including merchandise, vouchers, discounts on our partner products, gaming accessories or a monthly subscription at one of our content creators’ Twitch/YouTube channels. <br>
      -You'll receive a personalized team jersey, officially customized with your name. <br>
      - You get special role on our Discord server and access a designated channel to contribute ideas and stay connected with our community. <br>
      - Your company name or your photo/logo will be integrated into all of our designs, including for headers, matchdays, roster presentations, and more, along with being tagged in every post. <br>
      -You will be added to our Official STAFF WhatsApp Group and help to making decisions and generating new ideas.

   </div></div>
      <div><h3>Platinum</h3> <p> +$1500 </p> <div> 

      -1 Mistery Box per month 
      - You’ll get the friend links from our well-known players such as Samuel Bassotto, Kodigo, Keef, Miniminter and Surg TS.
      - You engage in 1v1 matches against our professional players. 
      - You will be presented as a Platinum Member from our Sponsorship Program on twitter and as our Official Sponsor. <br>
      - You participate in the HG Virtual Roulette for the chance to secure rewards, including merchandise, vouchers, discounts on our partner products, gaming accessories or a monthly subscription at one of our content creators’ Twitch/YouTube channels. <br>
      - You get special role on our Discord server and access a designated channel to contribute ideas and stay connected with our community. <br>
      -You'll receive a personalized team jersey, officially customized with your name and signed by all HG Players. <br>
      - Your company name or your photo/logo will be integrated into all of our designs, including for headers, matchdays, roster presentations, and more, along with being tagged in every post. <br>
      - You will be added to our Official STAFF WhatsApp Group and help to making decisions and generating new ideas. <br>
      - Your logo or name will be added on our team jersey as an official sponsor. <br>
      - His logo or name will be mentioned on every live event. <br>
      - You will receive a percentage from the team's earnings in every competition.

   </div> </div>
      </div>
    </div>
  </section>
</DefaultLayout>
