---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const { gkr = '/src/assets/img/GKR.png' } = Astro.props
const { cw = '/Loading screen Clan Wars 2.png' } = Astro.props
const { frage = '/_.png' } = Astro.props
---

<DefaultLayout title="Teams">
  <section class="my-12">
    <div class="space-content container">
      <h1>Our Teams</h1>
      <p class="text-2xl block">
        
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid gap-16 md:grid-cols-2">
      
       <a class="flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-lg sm:6/12 md:w-8/12 lg:w-10/12 transition dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]" style="text-decoration: none;" href="/team-cr">
          <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
          <div class="p-4 md:p-5">
          <h3 class="text-lg font-bold text-gray-800 dark:text-white">
          Clash Royale
          </h3>
          <p class="mt-1 text-gray-800 dark:text-gray-400">
            Professional Clash Royale Team
          </p>
        </div>
        </a>

        <a class="flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-lg sm:6/12 md:w-8/12 lg:w-10/12 h-auto transition dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]" style="text-decoration: none;" href="#">
          <img class="w-full h-auto rounded-t-xl" src={frage} alt="CR">
          <div class="p-4 md:p-5">
          <h3 class="text-lg font-bold text-gray-800 dark:text-white">
          Coming Soon
          </h3>
          <p class="mt-1 text-gray-800 dark:text-gray-400">
            🤔
          </p>
          </div>
          </a>

      </div>
    </div>
  </section>
</DefaultLayout>
