---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const { cw = '/Loading screen Clan Wars 2.png' } = Astro.props
---

<DefaultLayout title="CR Team">
  <section class="my-12">
    <div class="space-content container">
      <h1>Clash Royale</h1>
      <p class="text-2xl block">
        
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
       Coming Soon...
      </div>
    </div>
  </section>
</DefaultLayout>