---
import { Icon } from 'astro-icon'

const currentYear = new Date().getFullYear()

const { glytch = '/GLYTCH Energy_Logo.png' } = Astro.props
const { soardogg = '/SoardoggHorizontal-Red.png' } = Astro.props
---

<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<footer class="relative pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl fonat-semibold">The ideal content for gamers.</h4>
        <h5 class="text-lg mt-0 mb-2">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5>
        <div class="h-4 w-auto mt-6 lg:mb-0 mb-6">
      <a href="https://twitter.com/HigherGamingEU" title="Go to the Twitter page">
        <Icon pack="ion" name="logo-twitter" class="h-10 w-auto mb-auto" />
      </a>
      </a>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <p>Official Partners:</p>
          <a href="https://www.GLYTCHEnergy.com"><img class="lg:block h-24 w-auto ml-auto mr-auto" src={glytch} alt="GLYTCH Energy" decoding="async" /></a>
          <a href="https://www.Soardogg.com"><img class="lg:block h-12 w-auto ml-auto mr-auto lg:mt-6 sm:mt-12" src={soardogg} alt="Soardogg" decoding="async" /></a>
        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm font-semibold py-1">
          Copyright © <span id="get-current-year">{ currentYear }</span> Higher Gaming.
        </div>
      </div>
    </div>
  </div>
</footer>