---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8 ">
    <div class="container">
      <p>
        &copy; {currentYear} - Official Website from Higher Gaming.
      </p>
      <a href="/impressum">Impressum</a>
    </div>
    <div class="container">
      Test
    </div>
  </section>
</footer>
