---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Official Website from Higher Gaming. Made with ❤️ by <a
          href="https://twitter.com/Lucaisgodcr">Luca</a
        >.
      </p>
      <a href="/impressum">Impressum</a>
    </div>
  </section>
</footer>
